# SetUp

In [33]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

In [34]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import jupyternotify
ip = get_ipython()
ip.register_magics(jupyternotify.JupyterNotifyMagics)

# Fetch COVID-19 Data

In [35]:
url_to_covid = 'https://covid.ourworldindata.org/data/owid-covid-data.csv'

df_orig = pd.read_csv(url_to_covid)

In [36]:
df_orig.location.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
       'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'International', 'Iran', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives',
       'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
       'Mexico', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Korea',
       'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'World', 'Yemen',
       'Zambia', 'Zimbabwe'], dtype=object)

In [37]:
df = df_orig[df_orig.location == 'Austria']

In [42]:
df

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index
2689,AUT,Europe,Austria,2020-02-25,2.0,NaN,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2690,AUT,Europe,Austria,2020-02-26,2.0,0.0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2691,AUT,Europe,Austria,2020-02-27,3.0,1.0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2692,AUT,Europe,Austria,2020-02-28,3.0,0.0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2693,AUT,Europe,Austria,2020-02-29,9.0,6.0,NaN,NaN,NaN,NaN,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2984,AUT,Europe,Austria,2020-12-16,330343.0,2664.0,2763.000,4764.0,116.0,101.143,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2985,AUT,Europe,Austria,2020-12-17,332828.0,2485.0,2734.286,4982.0,218.0,117.000,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2986,AUT,Europe,Austria,2020-12-18,334913.0,2085.0,2618.857,5127.0,145.0,119.714,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2987,AUT,Europe,Austria,2020-12-19,337209.0,2296.0,2483.857,5209.0,82.0,113.429,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908
2988,AUT,Europe,Austria,2020-12-20,338854.0,1645.0,2341.571,5351.0,142.0,125.429,...,45436.686,0.7,145.183,6.35,28.4,30.9,NaN,7.37,81.54,0.908